.secao-produto {
    width: 100%;
    padding: 80px 20px;
    text-align: center;
}

.box-cards {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #f6f6f6;
    width: calc(50% - 15px);
    padding: 20px 10px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3 {
    margin: 0;
    font-size: 1.7em;
}

.card img {
    width: 80%;
    height: 150px;
    margin: 30px 0;
}

.card p {
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.secao-produto ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 35px;
}

@media (max-width: 768px) {
    .secao-produto {
        padding: 60px 20px;
        text-align: center;
    }

    .card h3 {
        font-size: 1.2em;
    }

    .card img {
        object-fit: contain;
        height: 100px;
    }

    .card p{
        font-size: 1em;
    }
}

@media (max-width: 550px) {
    .card {
        width: 100%;
    }

    .secao-produto ul{
        align-items: start;
        text-align: left;
    }
}